.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;
  justify-content: center;
  padding: 20px;

  margin: 0 auto;
}

.gallery a {
  display: block;
  width: 360px;
  height: 200px;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery a:hover {
  transform: scale(1.03);
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery__item {
  position: relative;
  width: 360px;
  height: 200px;
  overflow: hidden;
  /* border-radius: 8px; */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.gallery__item:hover {
  transform: scale(1.03);
}

.gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  flex-wrap: nowrap;

  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  padding: 8px;
  font-size: 12px;
  opacity: 1;
  transition: opacity 0.5s ease;
}

.gallery__item:hover .stats {
  opacity: 0;
}
